@import "tailwindcss";
@import "./theme/index.css";
@plugin "@tailwindcss/typography";

* {
  user-select: none;
}

body, #app {
  overflow: hidden;
}

body {
  font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  line-height: 1.6;
  height: 100vh;
  width: 100vw;
}

#app {
  height: 100%;
  width: 100%;
  background-color: var(--bg-secondary);


}

.no-drag {
  -webkit-app-region: no-drag;
}

.drag-region {
  -webkit-app-region: drag;
}

@layer utilities {
  .scrollbar-primary::-webkit-scrollbar { width: 8px; }
  .scrollbar-primary::-webkit-scrollbar-thumb { background: var(--color-primary);  }
  .scrollbar-primary { scrollbar-width: thin; scrollbar-color: var(--color-primary) transparent; }
}

.dialog-overlay {
  opacity: 0;
  transition: opacity 0.8s ease;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  &.show {
    opacity: 1;
  }
}